@import url('./__button/header__button.css');

.header {
    padding: 1.45em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.9em;
}

@media (min-width: 500px) {
    .header {
        margin-bottom: 7.3em;
    }
}