.footer__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 138.4%;
    list-style: none;

    color: white;
}

.footer__link_active {
    color: #0086FF;
}