.menu__items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.menu__items-container:last-child {
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .header .menu__items-container {
        display: none;
    }
}
 
@media (min-width: 800px) {
    .menu__items-container_logo {
        justify-content: left;
    }
    .menu__items-container_social {
        justify-content: left;
    }
    .menu__items-container_links-langs {
        justify-content: right;
    }
    .header .menu__items-container_links-langs {
        flex-direction: row;
        align-items: center;        
        justify-content: flex-end;
    }
}
