.main-section__image {
    position: absolute;
    left: 0;
    bottom: -450px;

    width: 100%;
    height: 100%;
    /* background-color: bisque; */

    margin: 0 0 0 0;

    overflow: hidden;
    z-index: -5;
}