.footer__lang-selector {
        margin: 0 1.2em 0 0;
        opacity: .3;
        cursor: pointer;
}

.footer__lang-selector_active {
        opacity: 1;
}

.footer__lang-selector:last-of-type {
        margin: 0;
}
