.menu__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    margin: 0 0 26px 0;
    color: white;
}

.menu__link:last-of-type {
    margin-bottom: 0;
}

.header .menu__link {
    color: #2D2D2D;
}

.header .menu__link_active,
.menu__link_active {
    color: #0086FF;
}

@media (min-width: 800px) {
    .menu__link {
        text-align: right;
        margin-left: 1em;
        margin-bottom: 0;
    }
    .header .menu__link {
        margin-left: 0;
        margin-right: 1.5em;
    }
}

@media (min-width: 1400px) {
    .menu__link {
        margin-left: 0;
        margin-right: 1.5em;
    }
}
