.footer__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 2.7em;
    list-style: none;
    text-align: center;

    color: white;
}

.footer__link_active {
    color: #0086FF;
}