{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto block shadow mb-5">
                {{ $section_name := index (.Site.Params.mainSections) 0 }}
                {{ with .Site.GetPage "section" $section_name }}
                <a href="{{ .Permalink }}" class="btn-link"> ← {{ i18n "allPosts" . }}</a>
                {{ end }}
                <hr>
                <h2>{{ .Title | markdownify }}</h2>
                <div class="mb-3 post-meta">
                    {{ if .Params.Author}}
                        {{ .Params.Author | title | humanize }},
                    {{ end }}
                    {{ $date := .PublishDate}}
                    {{ $date.Day }} {{ index $.Site.Data.months (printf "%d" $date.Month) }} {{printf "%d" $date.Year}}
                </div>
                {{ if .Params.Image }}
                <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
                {{ end }}
                <div class="content mb-5">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
