.footer__social-button {
    width: 3.12em;
    height: 2.12em;
    border-radius: 3px;
    background-color: #504e59;
    border-style: none;
    margin-right: 6px;
    margin-bottom: 6px;

}

.footer__social-button:last-of-type {
    margin-right: 0;
    
}