.join__image {
    /* position: absolute;
    left: 0;
    top: 0px; */

    width: 100%;

    margin: 0 auto -45px auto;
    overflow: hidden;
    z-index: -5;
}

@media (min-width: 500px) {
    .join__image {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .join__image {
        margin-bottom: -110px;
    }
}