/*  typography */
/* @import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font;
}


a {
  color: $primary-color;
  &:hover{
    color: $primary-color;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 600;
  line-height: 1.2;
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

h1, .h1{
  font-size: 50px;
}

h2, .h2{
  font-size: 40px;
}

h3, .h3{
  font-size: 30px;
}

h4, .h4{
  font-size: 26px;
}

h5, .h5{
  font-size: 20px;
}

h6, .h6{
  font-size: 16px;
}
