.menu__logo-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .menu__logo-text {
        width: 80%;
        text-align: left;
        margin: 0;
    }
    .menu__logo-text:last-of-type {
        margin: 0;
    }
}