/* Button style */
.btn {
  font-size: 16px;
  font-family: $primary-font;
  text-transform: capitalize;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-sm{
  font-size: 15px;
  padding: 6px 10px;
}

.btn-primary {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $primary-color;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white;
  }
}


.btn-transparent {
  background: transparent;
  color: $primary-color;
  border: 0;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 2px;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: transparent;
  }
}


.button {
  box-sizing: border-box;
  width: auto;
  background: #2F2C39;
  box-shadow: 0px 14px 21px rgba(47, 44, 57, 0.3);
  border-radius: 6px;
  padding: 0.95em 1.3em .9em 1.3em;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 1em;
  user-select: none;

  font-family: Montserrat;
  font-weight: 700;
  font-size: 1em;
  line-height: 169.4%;
  color: white;
}

.button:last-of-type {
  margin-bottom: 0;
}

.button_center {
  margin-right: auto;
  margin-left: auto;
}

.button_gray {
  background: #ebebec;
  box-shadow: none;
  color: #2F2C39;
}

.button_white {
  background: #ffffff;
  box-shadow: none;
  color: #2F2C39;
}

.button__menu-icon {
  width: 1em;
}

@media (min-width: 750px) {
  .join__buttons-container .button {
    margin-bottom: 0;
  }

  .join__buttons-container .button:first-of-type {
    margin-right: .6em;
  }
}
