.text {
    
    font-family: Montserrat;
    /* font-style: normal; */
    font-weight: 500;
    font-size: 1em;
    line-height: 169.4%;
    color: #575669;
    padding: 0;

    margin: 0 0 1.6em 0;
}

.text:last-of-type {
    margin-bottom: 3em;
}

.join .text:last-of-type {
    margin-bottom: 2em;
}


.text_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text_white {
    color: white;
}

.text_important {
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
}

@media (min-width: 750px) {
    .text {
        width: calc(100% * -1 + 1280px);
    }

    .join .text {
        width: 100%;
    }
}

 @media (min-width: 1050px) {
    .text {
        width: 27em;
    }
    .join .text {
        width: 816px;
    }
    .text_important {
        width: 51em;
    }
    
}

@media (min-width: 1450px) {
    .about .text {
        width: 40%;
    }    
}
@media (min-width: 1750px) {
    .about .text {
        width: 50%;
    }
    .join .text {
        width: 80%;
    }
    .text_important {
        font-size: 30px;
    }
    
}