.button {
    box-sizing: border-box;
    width: auto;
    background: #2F2C39;
    box-shadow: 0px 14px 21px rgba(47, 44, 57, 0.3);
    border-radius: 6px;
    padding: 1.375em 1.375em 1.2em 1.375em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 1em;
    user-select: none;
}

.button:last-of-type {
    margin-bottom: 0;
}

.button_center {
    margin-right: auto;
    margin-left: auto;
}

.button_gray {
    background: #ebebec;
    box-shadow: none;
}

.button_white {
    background: #ffffff;
    box-shadow: none;
}

.button__menu-icon {
    width: 1em;
}