.menu__title {

    width: 240px;
    margin: 0 auto .85em auto;
    color: white;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 138.4%;

    text-align: center;
}

@media (min-width: 800px) {
    .menu__title {
        margin: 0 0 .85em 0;
        width: 10em;
        text-align: left;
    }
}

@media (min-width: 1400px) {
    .menu__title {
        width: 18em;
    }
}