.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8em;
    line-height: 113.4%;
    color: #2F2C39;
    margin: 0 0 .85em 0;
}

.title_center {
    text-align: center;
    margin: 0 auto 1em auto;
}

@media (min-width: 500px) {
    .title {
        font-size: 2.625em;
        margin-bottom: .5em;
    }
}

@media (min-width: 750px) {
    .title {
        width: 60%;
    }

    .join .title {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .title {
        width: 420px;
    }
}