<!-- footer -->

<footer class="footer">

    <div class="menu__items-container menu__items-container_logo">
        <img class='menu__logo'
             width="100"
             height="100"
             src='{{ "img/logo.png" | relURL }}'
             alt="Логотип">
        <p class='text text_white menu__logo-text'></p>
    </div>
    <div class="menu__items-container menu__items-container_social">
        <h5 class='menu__title'>{{ i18n "us_social" }}</h5>
        <div class="menu__social-buttons-container">
            {{ range $key, $element := .Site.Social }}
            <a href="{{ . }}" class="menu__social-button" target="_blank" rel="noopener">
                <img src="/img/icons/{{$key}}_white.svg" alt="{{ $key | title | humanize}}">
            </a>
            {{ end }}
        </div>
    </div>
    <div class="menu__items-container menu__items-container_links-langs">
        {{ $currentPage := . }}
        {{ $list := (.Site.Menus.main) }}
        {{ $translations := .Translations}}
        {{ $len := (len $list) }}
        {{ range $index, $element := $list }}
        {{if eq (sub $len 1) $index}}
        {{ range $translations }}
        <div class="menu__langs-links-container">
            <div class="menu__langs-container">
                <p class="menu__lang-selector menu__lang-selector_active">
                    <a href="{{ .RelPermalink }}" style="color: white">{{ i18n .Lang }}</a>
                </p>
            </div>
            <a class='button button_center button_white' href="{{ .URL | absLangURL }}">
                {{ i18n $element.Identifier }}
            </a>
        </div>
        {{end}}
        {{else}}
        <p class='menu__link'>
            <a href="{{ .URL | absLangURL }}">
                {{ i18n .Identifier }}
            </a>
        </p>
        {{end}}
        {{ end }}
    </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src   = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
</script>
{{ end }}
