<article>
    {{ if .Params.featured_image }}
    {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
    {{ $featured_image := (trim .Params.featured_image "/") | absURL }}
    <div class="col-sm-12" style="height: 250px;padding-left: 0;padding-right: 0;padding-bottom: 15px">
        <a href="{{.Permalink}}" class="db grow" >
            <img src="{{ $featured_image }}"
                 class="img-fluid"
                 style="max-height: 260px !important;"
                 alt="image from {{ .Title }}">
        </a>
    </div>
    {{ end }}

    <div style="padding-top: 15px">
        <h5 class="f3 fw1 athelas mt0 lh-title">
            <a href="{{.Permalink}}" class="color-inherit dim link">
                {{ .Title }}
            </a>
        </h5>
        <p>
            {{ .Summary }}
        </p>
        <a href="{{.Permalink}}">
            {{ $.Param "read_more_copy" | default (i18n "readMore") }} →
        </a>
    </div>
</article>
