.text {
    
    font-family: Montserrat;
    /* font-style: normal; */
    font-weight: 500;
    font-size: 1em;
    line-height: 169.4%;
    color: #575669;
    padding: 0;

    margin-bottom: 1em;
}

.text:last-of-type {
    margin-bottom: 3em;
}

.text_button {
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}
.text_button-black {
    font-weight: 700;
    color: #2F2C39;
    margin-bottom: 0;
}

.text_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text_white {
    color: white;
}

.text_important {
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
}

@media (min-width: 750px) {
    .text {
        width: 90%;
    }
}
