.menu__links-container {
    padding: 0;
    margin: 0 auto 1em auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 800px) {
    .menu__links-container  {
        margin-left: 0;
        margin-right: 0;
        flex-direction: row;
        justify-content: flex-end;
    }
    .header .menu__links-container  {
        margin: 0;
    }
}