@import url('./__image/about__image.css');
@import url('./__img/about__img.css');

.about {
    position: relative;
    margin-bottom: 400px;
    
}

@media (min-width: 500px) {
    .about {
        margin-bottom: 500px;
    }
}

@media (min-width: 750px) {
    .about {
        margin-bottom: 550px;
    }
}

@media (min-width: 850px) {
    .about {
        margin-bottom: 500px;
    }
}

@media (min-width: 900px) {
    .about {
        margin-bottom: 400px;
    }
}
@media (min-width: 950px) {
    .about {
        margin-bottom: 300px;
    }
}