.join__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .join__buttons-container {
        flex-direction: row;
    }
}