@import url('./__image/join__image.css');
@import url('./__buttons-container/join__buttons-container.css');

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}